<h2 class="titulo">{{pagina}}</h2>
<div class="cuadro-nosotros">
  <img src="img/nosotros.jpg", alt="Imagen nosotros" class="img-fluid">
  <div class="texto-nosotros">
    <blockquote>
      Etiam a libero mi. Proin feugiat feugiat massa, nec vehicula velit pellentesque sed. Sed non fringilla tortor, vel molestie dui. Duis volutpat lacus non ipsum semper venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras dolor nisl, sollicitudin ut sagittis ut, commodo et ligula. Donec neque nisi, feugiat nec facilisis eget, convallis at leo.
    </blockquote>
    <p>
      Sed eu tincidunt elit. Cras lobortis efficitur elementum. Aenean vel facilisis arcu, vitae convallis quam. Nam vel feugiat erat. Nam id turpis et diam convallis ornare. Mauris a enim eu risus lacinia viverra id id odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <p>
      Sed eu tincidunt elit. Cras lobortis efficitur elementum. Aenean vel facilisis arcu, vitae convallis quam. Nam vel feugiat erat. Nam id turpis et diam convallis ornare. Mauris a enim eu risus lacinia viverra id id odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
  </div>
</div>

<div class="listado-iconos">
  <div class="card">
    <img src="img/icono_seguridad.svg" class="img-fluid" alt="icono">
    <h2 class="centrar-titulo">Seguridad</h2>
    <p>
      Fusce congue dolor nulla, et consectetur massa hendrerit in. Sed eu tincidunt elit. Cras lobortis efficitur elementum. Aenean vel facilisis arcu, vitae convallis quam
    </p>
  </div>
  <div class="card">
    <img src="img/icono_destinos.svg" class="img-fluid" alt="icono">
    <h2 class="centrar-titulo">Mejores destinos</h2>
    <p>
      Fusce congue dolor nulla, et consectetur massa hendrerit in. Sed eu tincidunt elit. Cras lobortis efficitur elementum. Aenean vel facilisis arcu, vitae convallis quam
    </p>
  </div>
  <div class="card">
    <img src="img/icono_precios.svg" class="img-fluid" alt="icono">
    <h2 class="centrar-titulo">Mejores precios</h2>
    <p>
      Fusce congue dolor nulla, et consectetur massa hendrerit in. Sed eu tincidunt elit. Cras lobortis efficitur elementum. Aenean vel facilisis arcu, vitae convallis quam
    </p>
  </div>
</div>
<div class="centrar-button">
  <a href="/" class="btn btn-success btn-block">Ir a pagina principal</a>
</div>